@page "/AllExpenses"
@attribute [Authorize]
<AuthorizeView>
    <Authorized>
        <style>
            .span1 {
                font-size: 30px;
            }

            p {
                text-align: center;
            }

            td {
                display: table-cell;
                vertical-align: inherit;
            }

            table {
                max-width: 100%;
                background-color: transparent;
                border-collapse: collapse;
                border-spacing: 0;
            }

            table {
                border-collapse: separate;
                text-indent: initial;
                border-spacing: 2px;
            }

            .cost {
                margin-top: -1px;
                font-size: 20px;
                font-weight: bold;
            }

            td.left {
                width: 265px;
                vertical-align: top;
                padding-right: 15px;
                padding-bottom: 3px;
            }

            .btn-orange {
                background: #ff652f;
                color: #fff;
                text-shadow: 0 -1px 0 #c83400;
            }

            .btn-mini {
                padding: 2px 6px;
                font-size: 11px;
                line-height: 14px;
            }

            i:hover {
                color: darkred;
            }

            .right {
                margin-left: 30px;
            }

            .hide {
                display: none;
            }

            .myDIV:hover + .hide {
                display: block;
                color: red;
            }

            .img {
                width: 60px;
                height: 60px;
                border-radius: 30px;
                background-color: orange;
            }
        </style>
        @if (expenseList == null)
        {
            <div class="card" style="min-height:600px;">
                <div class="card-header">
                    <span class="span1">All expenses</span>
                    <button class="btn1 btn text-white float-right" style="background-color:#5bc5a7" type="button">Settle up</button>
                    <button class="hover2 btn text-white float-right mr-2" style="background-color:#ff652f" type="button" data-toggle="modal" data-target="#exampleModal">Add Expense</button>
                </div>
                <div class="card-body">
                    <div id="dashboard_balances">
                        <div style="padding: 10px 15px; position: relative; margin: 20px -15px">

                            <img style="position: absolute; top: 0; left: 65px; width: 150px;" src="https://assets.splitwise.com/assets/fat_rabbit/empty-table-effed2a2e610373b6407d746cb95858f5d47329c8610bb70f1fd2040dfa35165.png">
                            <div style="text-align: left; padding-left: 235px;">
                                <h3 style="font-size: 28px; line-height: 110%">

                                    You have not added any expenses yet

                                </h3>
                                <div style="margin-top: 15px; color: #999; font-size: 18px; line-height: 24px">
                                    To add a new expense, click the orange “Add an expense” button.
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        }
        @if (expenseList != null)
        {
            <div class="card">
                <div class="card-header">
                    <span class="span1">All expenses</span>
                    <button class="btn1 btn text-white float-right" style="background-color:#5bc5a7" type="button" data-toggle="modal" data-target="#exampleModal1">Settle up</button>
                    <button class="hover2 btn text-white float-right mr-2" style="background-color:#ff652f" type="button" data-toggle="modal" data-target="#exampleModal">Add Expense</button>
                </div>
                <div class="card-body">
                    @{
                        int newcollapsecount = 0;
                        string parentcollapse = "#collapseThree";
                        string childcollapse = "collapseThree";
                    }
                    @foreach (var exp in expenseList)
                    {
                        newcollapsecount += 1;
                        parentcollapse = parentcollapse + newcollapsecount;
                        childcollapse = childcollapse + newcollapsecount;
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header d-flex bg-info text-white collapsed" style="height:60px" id="headingThree" data-toggle="collapse" data-target="@parentcollapse" aria-expanded="false" aria-controls="collapseThree">
                                    <div class="mr-auto">@exp.DateTime.ToString("MM-dd-yyyy")<br /> @exp.Category</div>
                                    <div>you paid<br /> @exp.Amount</div>
                                    <div class="ml-5 mr-5">you lent<br /> @Math.Round( @exp.Lent)</div>
                                    <button class="btn btn-sm" @onclick="()=>DeleteExpense(exp.Expense_Id)"><i class="delete1 fa fa-remove align-content-center" style="color:white; padding:10px"></i></button>
                                </div>
                                <div id="@childcollapse" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body" style="background-color:#F8F8F8">
                                        <div class="users" style="display: block;">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td colspan="2">
                                                            <img src="https://s3.amazonaws.com/splitwise/uploads/category/icon/square_v2/uncategorized/general@2x.png" class="category" title="General" alt="General">
                                                            <h3 class="ml-3">@exp.Category</h3>
                                                            <div class="cost">
                                                                Rs @exp.Amount
                                                            </div>
                                                            <div class="creation_info">

                                                                Added by <strong>@exp.PaidName</strong> on @exp.DateTime.ToString("MM-dd-yyyy")
                                                                <br />
                                                                <strong>@exp.PaidName</strong> paid: <strong>Rs.@exp.Amount</strong>
                                                                <br>
                                                                <a data-toggle="modal" href="#add_bill" data-expense-id="2266021889" class="btn btn-mini btn-orange ml-5">
                                                                    Edit expense
                                                                </a>
                                                            </div>
                                                            <hr>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="left">
                                                            <table class="shares">
                                                                <tbody>
                                                                    <tr class="user">
                                                                        @*<td class="avatar">
                                                                <img src="user-128.png" class="img" alt="User avatar">
                                                                </td>*@
                                                                        <td>

                                                                            <strong>@exp.PaidName</strong> paid <strong>@exp.Amount</strong>
                                                                        </td>
                                                                    </tr>

                                                                    @foreach (var item in manageExpenseList)
                                                                    {
                                                                        @if (exp.Expense_Id == item.Expense_Id)
                                                                        {

                                                                            <tr class="user">
                                                                                <td class="avatar">
                                                                                    <img src="user-128.png" class="img" alt="User avatar">
                                                                                </td>
                                                                                <td>

                                                                                    <strong>@item.SplitName</strong> owes <strong>@item.Amount</strong>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                    @*<tr class="user">
                                                            <td class="avatar">
                                                            <img src="https://s3.amazonaws.com/splitwise/uploads/user/default_avatars/avatar-orange25-100px.png" class="avatar" alt="User avatar">
                                                            </td>
                                                            <td>
                                                            <strong>Hamza</strong> owes <strong>Rs50.00</strong>
                                                            </td>
                                                            </tr>
                                                            <tr class="user">
                                                            <td class="avatar">
                                                            <img src="https://s3.amazonaws.com/splitwise/uploads/user/default_avatars/avatar-ruby42-100px.png" class="avatar" alt="User avatar">
                                                            </td>
                                                            <td>

                                                            <strong>Mohsin K.</strong> owes <strong>Rs50.00</strong>
                                                            </td>
                                                            </tr>*@
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td class="right">

                                                            @*<iframe src="/api/v3.0/charts/expense_details?expense_id=2266021889&amp;platform=web&amp;height=110" style="margin-top: 5px; width: 100%; height: 110px; border: none; overflow: hidden" scrolling="no"></iframe>*@
                                                            @*<a href="#" class="open_charts">View more charts</a>*@


                                                            <div class="comments">
                                                                <h4><i class="icon-comment"></i> Notes and comments</h4>




                                                                <div class="add_comment">
                                                                    <textarea placeholder="Add a comment" cols="40" rows="2"></textarea>
                                                                    <br>
                                                                    <button class="btn btn-small btn-orange">Post</button>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-info text-black">
                        <h5 class="modal-title text-white" id="exampleModalLabel">Add an expense</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <EditForm Model="e" OnValidSubmit="AddData" Context="abc">
                            <div class="form-group">
                                @*<RadzenDropDown class="form-control" @bind-Value=@valuess Data=@UserList TextProperty="Text" ValueProperty="Value"
                                                Multiple=true AllowClear=true Placeholder="Select Users" SelectAllText="Select All" />*@
                                                <RadzenDropDown class="form-control" @bind-Value=@valuess Data=@UserList TextProperty="Text" ValueProperty="Value"
                                                Multiple=true AllowClear=true Placeholder="Select Users" Chips=true SelectAllText="Select All" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Enter a description" @bind="@e.Description" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Rs 0.00" @bind="@e.Amount" />
                            </div>
                            <div class="form-group">
                                <select DefaultText="Select Category" class="form-control" @bind="@e.Category">
                                    <option>Category</option>
                                    <option value="Food">Food</option>
                                    <option value="Drink">Drink</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-select form-control" aria-label="Default select example" @bind="@e.Paidby">
                                    <option value="0">Paid by</option>
                                    @foreach (var u in UserList)
                                    {
                                        <option value="@u.Value">@u.Text</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="date" class="form-control" id="" placeholder="Enter Date of Activity" @bind="e.DateTime">
                            </div>
                            <div class="form-group">
                                <select class="form-select form-control" aria-label="Default select example" @bind="@e.Group_Id">
                                    <option value="0">select Group</option>
                                    @foreach (var g in GroupList)
                                    {
                                        <option value="@g.Value">@g.Text</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" style="width:472px; background-color:#5bc5a7" data-toggle="modal" data-target="#exampleModal3">Equally</button>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="@Cancel">Cancel</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>

        <!-- SettleUp -->
        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-info text-black">
                        <h5 class="modal-title text-white" id="exampleModalLabel">Settle up</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="overlay">
                            <div class="form-group">
                                <p style="text-align: centre;">Choose a payment method</p>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" style="width:472px; background-color:#5bc5a7" data-toggle="modal" data-target="#exampleModal2">Record a Cash Payment</button>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-large btn-payment disabled" data-transaction-method="paypal" style="background-color: #ffffff; width:472px;">
                                    <div class="form-group">
                                        <img src="/images/easypaisaicon.png" alt="eazypaisa">
                                    </div>
                                </button>
                            </div>
                            <div class="form-group">
                                <p style="text-align: centre;">When you use a payment service, your payment is shared with that company under its Privacy Policy and Terms, including any fees if applicable. Splitwise charges no additional fees.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Record Cash Payment -->
        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-info text-black">
                        <h5 class="modal-title text-white" id="exampleModalLabel">Settle up</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="@Cancel">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Equally -->
        <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-info text-black">
                        <h5 class="modal-title text-white" id="exampleModalLabel">Split equally</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <h3>
                                Amount Divided eqully between all selected Users.
                                Click close button and go back to form.
                            </h3>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="@Cancel">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Authorized>
</AuthorizeView>
