@page "/"
@using Income_and_Expense.Services;
@inject ExpenseService expenseService
@attribute [Authorize]

<AuthorizeView>
    <Authorized>
        <style>
            .span1 {
                font-size: 30px;
            }

            p {
                text-align: center;
            }

            .paragraphColor {
                text-align: center;
                margin: 0;
                padding: 0;
                color: #5bc5a7;
            }
        </style>
        <div class="card" style="min-height:530px">
            <div class="card-header">
                <span class="span1">Dashboard</span>
                <button class="btn1 btn text-white float-right" style="background-color:#5bc5a7" type="button">Settle up</button>
                <button class="hover2 btn text-white float-right mr-2" style="background-color:#ff652f" type="button" data-toggle="modal" data-target="#exampleModal">Add Expense</button>
                <hr style="margin-top:10px" />
                <div class="row">
                    <div class="col-4 border-right">
                        <p>total balance</p>
                        <p class="paragraphColor">+Rs100.00</p>
                    </div>
                    <div class="col-4 border-right">
                        <p>you owe</p>
                    </div>
                    <div class="col-4">
                        <p>you are owed</p>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6 border-right">
                        <h5>YOU OWE</h5>
                    </div>
                    <div class="col-6 border-left">
                        <h5 style="text-align:right">YOU ARE OWED</h5>
                    </div>
                </div>
                <div id="dashboard_balances">
                    <div style="padding: 10px 15px; position: relative; margin: 20px -15px">

                        <img style="position: absolute; top: 0; left: 65px; width: 150px;" src="https://assets.splitwise.com/assets/fat_rabbit/empty-table-effed2a2e610373b6407d746cb95858f5d47329c8610bb70f1fd2040dfa35165.png">
                        <div style="text-align: left; padding-left: 235px;">
                            <h3 style="font-size: 28px; line-height: 110%">

                                You’re all settled up. Awesome!

                            </h3>
                            <div style="margin-top: 15px; color: #999; font-size: 18px; line-height: 24px">
                                To add a new expense, click the orange “Add an expense” button.
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        @*       <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header bg-success text-white">
        <h5 class="modal-title" id="exampleModalLabel">Add an expense</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <form>
        <div class="form-group">
        <select class="form-select form-control" aria-label="Default select example">
        <option value="0">Select User</option>
        @foreach (var u in UserList)
        {
        <option value="@u.Value">@u.Text</option>
        }
        </select>
        </div>
        <div class="form-group">
        <input class="form-control" type="text" placeholder="Enter a description" />
        </div>
        <div class="form-group">
        <input class="form-control" type="text" placeholder="Rs 0.00" />
        </div>
        </form>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Save</button>
        </div>
        </div>
        </div>
        </div>*@

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-info text-black">
                        <h5 class="modal-title" id="exampleModalLabel">Add an expense</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <EditForm Model="e" OnValidSubmit="AddData" Context="abc">
                            <div class="form-group">
                                <RadzenDropDown class="form-control" @bind-Value=@valuess Data=@UserList TextProperty="Text" ValueProperty="Value"
                                                Multiple=true AllowClear=true Placeholder="Select Users" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Enter a description" @bind="@e.Description" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Rs 0.00" @bind="@e.Amount" />
                            </div>
                            <div class="form-group">
                                <select DefaultText="Select Category" class="form-control" @bind="@e.Category">
                                    <option>Category</option>
                                    <option value="Food">Food</option>
                                    <option value="Drink">Drink</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-select form-control" aria-label="Default select example" @bind="@e.Paidby">
                                    <option value="0">Paid by</option>
                                    @foreach (var u in UserList)
                                    {
                                        <option value="@u.Value">@u.Text</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="date" class="form-control" id="" placeholder="Enter Date of Activity" @bind="e.DateTime">
                            </div>
                            <div class="form-group">
                                <select class="form-select form-control" aria-label="Default select example" @bind="@e.Group_Id">
                                    <option value="0">select Group</option>
                                    @foreach (var g in GroupList)
                                    {
                                        <option value="@g.Value">@g.Text</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" style="width:472px; background-color:#5bc5a7">Equally</button>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="@Cancel">Cancel</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>

    </Authorized>
</AuthorizeView>
